header{
    position: relative;
    border-bottom: 2px solid transparent;
    border-image-source: linear-gradient(to right, $cyan 50% ,50%,$green);
    border-image-slice: 1;
}

.logo{
    width: 174.42px;
    min-height: 24px;
    height: 6.7vw;
    background: url('../images/logo2.svg') no-repeat ;
    @include media-breakpoint-up(md) { 
        height: 42px;
        background: url('../images/logo.svg') no-repeat;        
    }
}

.header-nav{
    flex-basis: 100%;
    background-color: $secondary;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 2px;  //邊界
    z-index: 10;
    
    @include media-breakpoint-up(md) { 
        display: block !important;
        flex-basis: auto;
        position:static;
        width: auto;
        margin-top: 0;        
    }               
    .nav{
        padding-top: 12px;
        padding-bottom: 12px;
        @include media-breakpoint-up(md) { 
            padding-top: 0;
            padding-bottom: 0;    
        }         
    }
    
    .nav-link,.btn{
        padding-top: 12px;
        padding-bottom: 12px;
        @include media-breakpoint-up(md) { 
            padding-top: 7px;
            padding-bottom: 7px;    
        }       
    }
    
    .btn{
        padding: 0.5rem 1rem;
        border: none;
    }
    
    .material-icons{
        padding-right: 6px;
    }
}

.btn-nav{
    padding: 0 9px;
    color: $green;    
    @include media-breakpoint-up(md) { 
        display: none;
    }
}

.loginModal{
    @include media-breakpoint-up(lg){
        .modal-body,.modal-footer{
            width: 75%;
            margin: 0 auto;
        }
    }

    .modal-header{
        flex-wrap: wrap;
        justify-content: end;
    }
    
    .modal-title{      
        order:2;
        flex-basis: 100%;  
        @include media-breakpoint-up(lg){
            padding-left: 28px;
            order: 0;
            flex-basis: auto;
        }
    }        

    .loginWith{
        display: flex;
        align-items: center;
        gap: 16px;
        &::before,&::after{
            content:"";
            flex-grow: 1;
            height: 1px;
            background: #C1C1C1;
        }
    }
    .btn-loginWith{
        position: relative;
        img{
            position: absolute;
            width: 24px;
            height: 24px;
        }
    }
}

footer{
    background: #1A1A1A;
    .fs-8{
        color: #909090;
        @include media-breakpoint-up(md) { 
            font-size: 1rem !important;
        }
    }
}