
.signUp-timeline{
    // background: black;
    @include media-breakpoint-up(lg){
        background: $gray-dark;
    }
}

.timeline{
    position: relative;
    margin-bottom: 15px;
    &::after{
        content:"";
        height: 2px;
        position: absolute;
        background: #C1C1C1;
        top:0;
        left:0;
        right:0;        
    }    
    &-50::after{
        background: linear-gradient(to right, $success 50% ,50%,#C1C1C1);
    }
    &-100::after{
        background: $success ;
    }
    &-pointer{
        position: relative;
        &::before{
            position: absolute;
            width: 20px;
            height: 20px;
            line-height: 18px;
            font-size: 12px;
            font-family: $font-family-monospace;
            border: 1px solid #FFF;
            border-radius: 10px;
            background: $gray-dark;
            bottom: 100%;
            left:50%;
            transform: translate(-50%, -4px);
            
        }
        &.active{
            color: $success;            
            &::before{
                background: $success;
                border-color: $success;                
                color: #FFF;
            }
        }
    }
}

.step{
    &-1::before{
        content:"1";
    }
    &-2::before{
        content:"2";
    }
    &-3::before{
        content:"3";
    }
}

.btn-group{
    flex-wrap: wrap;
    .btn{
        width: 48%;
        @include media-breakpoint-up(md){
            width: auto;
            flex-grow: 0;
        }
    }
}

.datepicker{
    color: $gray;
}

.datepicker-cell.day.prev,.datepicker-cell.day.next{
    color: $gray;
}

.datepicker-cell.selected, .datepicker-cell.selected:hover {
    background-color: $gray-c1;
    color: $gray;
    font-weight: 600;
}

.signUp-form{
    @include media-breakpoint-up(lg){
        padding-left: 114px !important;
    }
}

.signUp-card{
    margin-bottom: 44px;
    position: relative;
    &::after{
        content: "";
        border: 12px solid transparent;
        border-top-color: #2D2D2D;
        position: absolute;
        top: calc(100% - 1px);
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(lg){
            border: 12px solid transparent;
            border-left-color: #2D2D2D;
            top: 50%;
            left: calc(100% - 1px);
            transform: translateY(-50%);
        }
    }
    @include media-breakpoint-up(lg){
        box-shadow: 4px 0px 18px 0px #0000002E;
        .card-title{
            font-size: 18px !important;
        }
    }
    @include media-breakpoint-up(xl){
        width: calc(100% - 15px);
        left: 48px;
    }
}

.lesson-select:focus{
    color: #FFF;
}

.signUp-price{
    height: 27px;
}

.btn-signUp{
    width: 100%;
    @include media-breakpoint-up(lg){
        width: auto;
    }
}

.signUp-finished{
    background: $gray-dark;
    @include media-breakpoint-up(lg){
        background: $gray;
    }
}